.form-wrapper {
  min-height: 87.1vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.from-content-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-heading {
  margin-top: 30px !important;
}

.form-subheading {
  font-size: 13px;
}

.pagination {
  margin-top: 10px;
}

.form-hr {
  padding: 0 5px 0 5px;
}

.form-error {
  color: red;
  padding-top: 5px;
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
}

.review-hr {
  margin-bottom: 15px !important;
}

.btn-cancel {
  background-color: #c4c4c4;
  color: black;
  border-radius: 4px;
}

.btn-previous {
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: -0.06em;
  border-width: 2px;
  border-color: black;
  margin-right: 5px;
}

.btn-continue {
  background-color: #1ba1f2;
  color: #fff;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: -0.06em;
}

.btn-add-img {
  background-color: #1ba1f2;
  color: #fff;
  border-radius: 5px;
  margin: 0 0 0 10px;
}

.btn-choose-file {
  min-width: 100px;
}

.btn-discard {
  background-color: #f44d6b;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: -0.06em;
  margin-right: 5px;
}

.field-heading {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #3c4858;
  padding-bottom: 5px;
}

.field-review {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #60738b;
  padding-top: 3px;
  margin-right: 10px !important;
}

.filed-input-small {
  height: 48px;
  min-width: 343px;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px !important;
}

.filed-input-modal {
  height: 48px;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px !important;
}

.filed-input-large {
  height: 88px;
  min-width: 343px;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px !important;
}

.filed-input-xlarge {
  min-height: 28vh;
  width: 95vw;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px !important;
}

.upload-wrapper {
  margin-bottom: 5px;
}

/* for File-Upload.jsx */
.file-upload {
  min-height: 80px;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 150px;
}

.upload-file-logo {
  height: 3rem;
  width: 4.3rem;
  opacity: 50%;
}

.upload-file-text {
  font-size: 12px;
}

.confirmation-wrapper {
  min-height: 60vh;
}

.banner-form-wrapper {
  margin-top: 10vh;
  width: 248px !important;
}

.banner-form-header {
  height: 33px;
}

.success-banner-form {
  background-color: #27ae60;
}

.error-banner-form {
  background-color: #eb5757;
}

#success-img {
  width: 150px;
  height: 128px;
}

#error-img {
  width: 150px;
  height: 128px;
  opacity: 80%;
}

#status-message {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.btn-confirmation {
  width: 189px;
  height: 36px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
}

.banner-form-body {
  height: 314px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-links-list {
  font-size: 13px;
  color: rgba(39, 16, 143);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .filed-input-xlarge,
  .file-upload {
    width: 80vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .filed-input-xlarge,
  .file-upload {
    width: 65vw;
  }

  .filed-input-modal {
    min-width: 343px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .form-subheading {
    font-size: 15px;
  }

  .btn-cancel,
  .btn-previous,
  .btn-continue,
  .btn-cancel {
    width: 90px;
  }
  .btn-previous,
  .btn-cancel {
    margin-right: 20px;
  }

  .form-heading {
    margin-top: 50px !important;
  }

  .file-upload {
    width: auto;
  }
}

@media (min-width: 1600px) {
  .filed-input-xlarge {
    width: 55vw;
  }
}
