.form-wrapper {
  min-height: 87.1vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.from-content-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-heading {
  margin-top: 30px !important;
}

.form-subheading {
  font-size: 13px;
}

.pagination {
  margin-top: 10px;
}

.form-hr {
  padding: 0 5px 0 5px;
}

.btn-cancel {
  background-color: #c4c4c4;
  color: black;
  border-radius: 4px;
}

.btn-previous {
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: -0.06em;
  border-width: 2px;
  border-color: black;
  margin-right: 5px;
}

.btn-continue {
  background-color: #1ba1f2;
  color: #fff;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: -0.06em;
}

.field-heading {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #3c4858;
  padding-bottom: 5px;
}

.filed-input-small {
  height: 48px;
  min-width: 343px;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px !important;
}

.filed-input-large {
  height: 88px;
  min-width: 343px;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px !important;
}

.filed-input-xlarge {
  min-height: 28vh;
  width: 95vw;
  border: 1px solid #3c4858;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 14px !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .filed-input-xlarge {
    width: 80vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .filed-input-xlarge {
    width: 65vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .form-subheading {
    font-size: 15px;
  }

  .btn-cancel,
  .btn-previous,
  .btn-continue {
    width: 90px;
  }
  .btn-previous {
    margin-right: 20px;
  }

  .form-heading {
    margin-top: 50px !important;
  }
}

@media (min-width: 1600px) {
  .form-row {
    margin-bottom: 55px !important;
  }

  .filed-input-xlarge {
    width: 55vw;
  }
}
