.trail-card {
  height: 370px;
  width: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -1;
}

.img {
  width: 298px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
}

.trail-card-body {
  width: 300px;
  height: 100px;
}

.title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  padding-top: 4px;
  max-height: 34px;
  overflow: hidden;
}

.sub-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-top: 2px;
}

.card-badge {
  border-radius: 21px;
  min-width: 60px;
}

.easy {
  background: #319e49 !important;
}

.medium {
  background: #824df4 !important;
}

.hard {
  background: #d843c4 !important;
}

.challenging {
  background: red !important;
}

.star-yellow {
  color: rgb(240, 240, 12);
}

.star-grey {
  color: rgb(177, 170, 170);
}

.sub-text-secondary {
  font-size: 12px;
  position: relative;
  left: -9px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
